:root{
	--light: #fff;
	--dark: #000;
	--accentLight :#3AFCB0;
	--background1Dark: #8513A8;
	--background1Light: #BB02F5;
	--background2: #F5B31B;
	--accentDark: #0AA86A;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul{
	list-style-type: none;
}
body{
	background: #eee;
	position: relative;
}
img{
	width: 100%;
}
a{
	color: inherit;
	text-decoration: none;
}
body > .container{
	background: var(--light);
	padding: 0;
}
#show{
	display: none;
}
.main-header{
	height: 70px;
	padding: 20px 0;
	background: var(--background1Light);
	color: #fff;
}
.main-header ul{
	width: 100%;
}
.main-header ul li{
	display: inline-block;
	width: 30px;
	height: 20px;
}
.main-header ul li a:hover{
	color: #F5B114;
}
.main-header input{
	border-radius: 20px;
}
.hero{
	min-height: 650px;
	background-size: cover;
	padding: 80px 30px;
	color: var(--background1Dark);
}
.hero .hero-image{
	border-radius: 5px 50px 5px;
}
.hero h1{	
	font-size: 40px;
}
.hero p{
	
	font-size: 16px;
}
.why{
	background: var(--background1Light);
	color: #fff;
	min-height: 100px;
	padding: 20px 0;
	text-align: center;
}
.why i{
	font-size: 2.5em;
}
.body{
	padding: 50px 20px;
}
.header{
	color: var(--background1Dark);
	height: 60px;
	text-align: center;
	padding-top: 10px;
}
.card{
	border-radius: 10px;
	border: 1px solid #ccc;
	margin-bottom: 40px;
}
.cart{
	background: var(--light);
	min-height: 600px;
	border-radius: 20px;
	padding-top: 20px;
}
.item{
	height: 100px;
	border-bottom: 0.5px solid gray;
}
.item span{
	display: block;
	font-size: 12px;
	font-weight: 300;
}
.item p{
	font-size: 12px;
	font-weight: 800;
}
.item input{
	width: 20px;
	display: inline;
	margin: 0 auto;
}
.item button{
	border: none;
	background: none;
}
.customize{
	min-height: 350px;
	padding-top: 30px;
}
.gallery{
	height: 1100px;
	padding: 100px 0; 
}
.gallery-image{
	border-radius: 8px 50px 8px;
}
.desc{
	padding-top: 20px;
}
.image{
	padding: 20px 0;
}
.quantity, .amount, .delete{
	padding: 50px 0 0;
}
.summary{
	padding-left: 10px;
}
.summary p{
	display: inline-block;
	width: 45%;
	font-weight: 800;
}
.summary form{
	padding: 50px 0;
}
.contact{
	padding: 0 50px;
}
.contact h2{
	font-size: 3em;
	color: var(--background1Light);
}
.contact p{
	font-size: 1.4em;
	margin-bottom: 60px;
}
.contact button{
	background: var(--background1Dark);
	color: var(--accentLight);
}
.contact input{
	border-top: none;
	border-right: none;
}
.contact button:hover{
	background: var(--background1Dark);
	color: var(--light);
}
.info{
	background: var(--background1Dark);
	color: var(--accentLight);
	border-radius: 20px;
	height: 530px;
}
.info h3{
	font-size: 3em;
	color: var(--background2);
}
.info p, .info p a{
	height: 30px;
	font-size: 20px;
	margin-top: 50px;
	text-decoration: none;
}
.info p a:hover{
	color: var(--background2);
}
.payment li{
	height: 60px;
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: 600;
}
footer{
	background-color: var(--background1Light);
	padding: 30px 0 10px;
	color: #fff;
	text-align: center;
}
footer li{
	height: 40px;
	margin-bottom: 10px;
}

/*// Small devices (landscape phones, 576px and up)*/
@media(max-width: 767.98px) {	
	.show-case{
		padding: 0 10px;
	}
	.main-header ul li{
		width: 10px;
		margin-right: 7px;
	}
	.main-header{
		height: 70px;
		padding: 20px 0;
	}
	.gallery{
		height: 900px;
		padding-bottom: 20px;
	}
	.image{
		.padding:0 10px;
	}
	footer{
		text-align: left;
	}
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.show-case{
		padding: 0 20px;
	}
	.item{
		height: 150px;
		border-bottom: 0.5px solid gray;
		padding-left: 20px;
		padding-top: 10px;
	}
	.gallery{
		height: 700px;
		padding-bottom: 20px;
	}
	footer{
		text-align: left;
	}
	.image{
		padding-top: 0;
	}
	.desc{
		padding-top: 50px;
	}
	.quantity, .amount, .delete{
		padding: 70px 0 0 0;
	}
	.item span{
		display: block;
		font-size: 12px;
		font-weight: 300;
	}
	.item p{
		font-size: 20px;
		font-weight: 800;
	}
	
}